/* Reset CSS */

/* Element */
.element {
  margin-bottom: 8px;
}

.element > .element__head {
  background-color: rgb(206, 210, 210);
  border: 1px solid black;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

.element__head h2 {
  display: inline-block;
}

.element__head abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.element__features {
  list-style-type: none;
}

/* Code */
.code {
}

.code__boilerplate {
}

.code__rendering {
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #dde6ed;
  margin-bottom: 10vh;
}
